#content {
  width: 100%;
}

.good-companion {
  color: var(--mgreen);
}

.bad-companion {
  color: var(--mred);
}

@font-face {
  font-family: Kongtext;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/kongtext.ttf);
}

:root {
  --white: #f1f0ee;
  --black: #17191b;
  --lgreen: #72cb25;
  --mgreen: #238531;
  --dgreen: #0a4b4d;
  --lpurple: #c95cd1;
  --mpurple: #6c349d;
  --dpurple: #28237b;
  --lorange: #ffc438;
  --morange: #f06c00;
  --dorange: #9f1e31;
  --lgrey: #f1f0ee;
  --mgrey: #96a5ab;
  --dgrey: #586c79;
  --lbrown: #b9a588;
  --mbrown: #7e6352;
  --dbrown: #412f2f;
  --lred: #ff4d4d;
  --mred: #9f1e31;
  --dred: #57142e;
}

body {
  background-color: var(--dbrown);
  color: var(--white);
  font-size: 1.2em;
  font-weight: 100;
  /* font-family: Kongtext; */
}

h1 {
  color: var(--mgreen);
}

.button {
  font-size: 1em;
  cursor: pointer;
  background-color: var(--mgreen);
  color: var(--white);
  padding: .3em .7em;
  border-top: var(--lgreen) solid 3px;
  border-left: var(--lgreen) solid 3px;
  border-bottom: var(--dgreen) solid 3px;
  border-right: var(--dgreen) solid 3px;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--mpurple);
  color: var(--white);
  border-top: var(--lpurple) solid 3px;
  border-left: var(--lpurple) solid 3px;
  border-bottom: var(--dpurple) solid 3px;
  border-right: var(--dpurple) solid 3px;
}

.text-input {
  font-size: 1em;
  background-color: var(--white);
  color: var(--black);
  padding: .3em .7em;
  border-top: var(--black) solid 3px;
  border-left: var(--black) solid 3px;
  border-bottom: var(--lbrown) solid 3px;
  border-right: var(--lbrown) solid 3px;
  border-radius: 2px;
}